<div>
    <% slides.forEach(function(slide){ %>
        <p>Name: <%= slide.title.title %></p>
        <p>Description: <%= slide.description.description %></p>
        <a href="/show/<%= slide._id%>">show this slide</a>
        <a href="/slides/<%= slide._id%>">Edit this slide</a>
        <br>
        <a href="/slides/delete/<%= slide._id%>">Remove this slide</a>
        <br>
    <% }) %>
    <a href="/">go back</a>
</div>