<div>
    <p>Title: <%= slide.title.title %></p>
    <div>
        Title Specific:
        <p><%= slide.title.color %></p>
        <p><%= slide.title.font_size %></p>
        <p><%= slide.title.font_style %></p>
        <p><%= slide.title.font_weight %></p>
    </div>
    <p>Description: <%= slide.description.description %></p>
    <div>
        Description Specific:
        <p><%= slide.description.color %></p>
        <p><%= slide.description.font_size %></p>
        <p><%= slide.description.font_style %></p>
        <p><%= slide.description.font_weight %></p>
    </div>
    <p>Date: <%= slide.date.date %></p>
    <div>
        Date Specific:
        <p><%= slide.date.color %></p>
        <p><%= slide.date.font_size %></p>
        <p><%= slide.date.font_style %></p>
        <p><%= slide.date.font_weight %></p>
    </div>
    <p>Time: <%= slide.time.time %></p>
    <div>
        Time Specific:
        <p><%= slide.time.color %></p>
        <p><%= slide.time.font_size %></p>
        <p><%= slide.time.font_style %></p>
        <p><%= slide.time.font_weight %></p>
    </div>
    <% slide.images.forEach(function(img){ %>
         <p><%= img.data %></p>
    <%})%>
    <p> slide_settings: <%= slide.slide_settings %> </p>
    <a href="/">go back</a>
</div>